*.csv
*.ebwt
*.fa.gz
*.tsv
*.txt
*.html
*.xlsx
*.log
*.gz
*.out
*.gtf
*.rds
old_plot/*
data/cellecta_data/*
data/T2T_data/*
data/removed_genes_survey/
results/
.Rproj.user
.RData
.Rhistory

# macOS metadata files (created on exFAT drives when switching between machines)
._*
.DS_Store
