*.ipynb filter=nbstripout
*.zpln filter=nbstripout
*.ipynb diff=ipynb
library_survey_supplementary_materials/**/*.html linguist-generated
*.Rmd linguist-detectable linguist-language=R
*.rmd linguist-detectable linguist-language=R
